In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
#reading data set
data=pd.read_csv("train.csv")

In [52]:
data.shape

(8523, 12)

In [53]:
data=pd.get_dummies(data)

In [54]:
data.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [55]:
#Target variable Item_Outlet_Sales is continuous in nature therefore we use Linear Regression

In [56]:
# making train dataset
train=data[0:7999]

In [57]:
#making test dataset
test=data[8000:]

In [58]:
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
8000,7.02,0.081329,150.0734,2002,4454.2020,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8001,7.42,0.020388,247.1092,2004,4233.1564,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8002,17.25,0.113518,253.5724,1997,5033.4480,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
8003,18.75,0.052917,190.6504,2002,1342.2528,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
8004,20.25,0.018911,220.5772,2007,2446.1492,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [59]:
x_train=train.drop('Item_Outlet_Sales',axis=1)

In [60]:
y_train=train['Item_Outlet_Sales']

In [61]:
x_test=test.drop('Item_Outlet_Sales',axis=1)

In [62]:
true_p=test['Item_Outlet_Sales']

In [63]:
#impute missing values
x_train.fillna(0,inplace=True)

In [64]:
x_test.fillna(0,inplace=True)

In [65]:
# LReg shouldnt contain Inputs NaN, infinity or a value too large for dtype('float64').

In [66]:
#Input contains NaN, infinity or a value too large for dtype('float64').
x_test=pd.get_dummies(x_test)

In [67]:
# creating dummies
x_train=pd.get_dummies(x_train)

In [68]:
from sklearn.linear_model import LinearRegression

In [69]:
lreg=LinearRegression()

In [70]:
lreg.fit(x_train,y_train)

LinearRegression()

In [71]:
x_train.shape

(7999, 1604)

In [72]:
pred=lreg.predict(x_test)

In [73]:
#preformance of our model - r2
lreg.score(x_test,true_p)

0.4038467497021484

In [74]:
lreg.score(x_train,y_train)

0.6496016077824436

In [75]:
#evaluting the model

In [76]:
rsme_test = np.sqrt(np.mean(np.power((np.array(true_p)-np.array(pred)),2)))

In [77]:
rsme_train = np.sqrt(np.mean(np.power((np.array(y_train)-np.array(lreg.predict(x_train))),2)))

In [75]:
print(rsme_test,rsme_train)

1253.7428869573428 1013.252732066083